* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: hsl(30, 38%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  width: 600px;
  height: 450px;
  border-radius: 15px;
  background-color: #ffffff;
  display: flex;
}

.card img {
  width: 337px;
  height: 450px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  object-fit: cover; /* ajuda a manter a proporção e evitar distorção */
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title-card {
  font-family: "Fraunces";
  font-weight: 700;
  color: #1c232b;
  width: 236px;
  height: 96px;
}

.description {
  padding-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #6c7289;
}

.price {
  display: flex;
  justify-items: center;
}

.btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  width: 236px;
  height: 48px;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  background-color: #3d8168;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.btn img {
  width: 16px;
  height: 16px;
  margin: 10px;
}
